{% extends 'base.html' %}

{% block menu %}
    <a href="{% url 'task_track_add' %}" class="btn btn-outline-light">Add entry</a>
    <a href="{% url 'type_ls' %}" class="btn btn-outline-light">Types list</a>
    <a href="{% url 'status_ls' %}" class="btn btn-outline-light">Statuses list</a>
{% endblock %}

{% block content %}
    <h1 class="mt-5">Tracker</h1>
    <hr/>
    {% if is_paginated %}
        {% include  'partial/pagination.html' %}
    {% endif %}
    <div class="my-3">
        {% for tracker in trackers %}
            <hr/>
            <div class="container">
                <h4>{{ tracker.summary }} </h4>
                <div class="container mb-5">{{ tracker.description }}</div>
                <a href="{% url 'task_track' tracker.pk %}" class="btn btn-outline-success">More</a>
                <a href="{% url 'task_track_edit' tracker.pk %}" class="btn btn-outline-success">Edit</a>
                <a href="{% url 'task_track_delete' tracker.pk %}" class="btn btn-outline-success">Delete</a>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include  'partial/pagination.html' %}
    {% endif %}
{% endblock %}
