{% extends 'base.html' %}

{% block title %}Delete Type{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mt-5">Do you want to delete type: '{{ type.type }}' ?</h2>
        <form method="POST" action="{% url 'type_delete' type.pk %}">
            {% csrf_token %}
            <p><input type="submit" value="Confirm" class="btn btn-outline-success btn-block"></p>
            <p><a href="{% url 'type_ls' %}" class="btn btn-outline-success btn-block">Back</a></p>
        </form>
    </div>
{% endblock %}