{% extends 'base.html' %}

{% block menu %}
    <a href="{% url 'project_create' %}" class="btn btn-outline-light">Add project</a>
{% endblock %}

{% block content %}
    <h1 class="mt-5">Projects</h1>
    <hr/>
    {% if is_paginated %}
        {% include  'partial/pagination.html' %}
    {% endif %}
    <div class="my-3">
        {% for project in projects %}
            <hr/>
            <div class="container">
                <h4>{{ project.title }} </h4>
                <div class="container mb-5">{{ project.description }}</div>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-outline-success">More</a>
                <a href="{% url 'project_edit' project.pk %}" class="btn btn-outline-success">Edit</a>
                <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-success">Delete</a>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include  'partial/pagination.html' %}
    {% endif %}
{% endblock %}